.best {
    position: relative;
    background-image: url('../img/bg-best.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

.best__title {
    font-size: rem(72px);
    @include gagalin();
    margin-bottom: rem(40px);
    color: black;
    text-align: center;
    @include tablets {
        margin-bottom: rem(55px);
    }
    @include phones {
        font-size: rem(60px);
        margin-bottom: rem(35px);
    }
}

.best__container {
    transform: translateY(-8%);
    @include tablets {
        transform: translateY(-24%);
    }
    @include phones {
        transform: translateY(-13%);
    }
}