.food {
    position: relative;
    background-image: url('../img/bg-menu.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

.food__title {
    position: absolute;
    top: 15%;
    left: 9%;
    font-size: rem(72px);
    @include tablets {
        top: 10%;
        left: 4%;
    }
    @include phones {
        top: 6%;
        left: 12%;
        font-size: rem(56px);
    }
}